body {
	font-family: 'Inconsolata', monospace;
	background: white;
	color: black;
}

h1 {
	font-size: 38px;
	margin-top: .5em;
	margin-bottom: .5em;
}

p {
	font-size: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

div.nav {
	padding-top: 50px;
	padding-bottom: 20px;
}

.bold {
	font-weight: bold;
}

#mainPictureOfMe {
	border-radius: 50%;
	margin-top: 30px;
	margin-bottom: 30px;
}
